@import 'colors';

.app-view {
  font-family: 'Great Vibes', cursive;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

.header {
  border-bottom: 5px solid
}

.row {
  margin: 0;
}
