button {
  font-family: 'Helvetica Neue';
}

h4 {
  font-family: 'Helvetica Neue';
}

.login-input {
  font-family: 'Great Vibes', cursive;
}

td {
  font-family: 'Helvetica Neue';
}

p {
  font-family: 'Helvetica Neue';
}

.cool-btn {
  font-family: 'Helvetica Neue';
}

input {
  font-family: 'Helvetica Neue';
}

.order-by {
  font-family: 'Helvetica Neue';
}

.itunes-modal-header {
  font-family: 'Helvetica Neue';
}
